* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(146, 120, 143); 

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.kc {
    font-size: 24px;
    font-weight: bold;
}

.about-section li {
    list-style: none;

}

.about-section ul {
    display: flex;
    gap: 50px;
}

.login-button button {
    padding: 6px;
    background-color: rgb(216, 216, 243);
    border-radius: 10px;
    border: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
    margin-top: 100px;
}

.profile {
    width: 45%;
    padding: 20px;
}

.profile h3 {
    margin-bottom: 15px;
}

.profile p {
    line-height: 30px;
}

.main-image{
    width: 45%;
}

.main-image img {
    width: 100%;
    border-radius: 10px;
}